Package: com.johnzaro.raminfo13
Name: RAMInfo13
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 13)
Version: 1.0
Architecture: iphoneos-arm
Description: Shows RAM Information In The Status Bar
Maintainer: Johnzaro <johnzrgnns@gmail.com>
Author: Johnzaro <johnzrgnns@gmail.com>
Section: Tweaks
